APPLICATION_API_PORT=9090
APPLICATION_LOG_LEVEL=DEBUG
APPLICATION_DOWNLOAD_ROOT=/downloads
APPLICATION_USENET_DOWNLOAD_PROVIDER=torbox
APPLICATION_MAX_DOWNLOAD_SEND_TO_PROVIDER=2
SABNZBD_API_KEY=SOME_KEY
DOWNLOADER_MAX_PARALLEL_DOWNLOADS=2
DOWNLOADER_MAX_RETRY_DOWNLOADS=2
PROVIDER_TB_CONFIG_API_KEY=SOME_KEY
PROVIDER_TB_CONFIG_PREFER_ZIPPED_FOLDER=false